.login__container{
  visibility: hidden;
  width: 100%;
}

.login__container_opened{
 visibility: visible;
}

.login__beforeLink{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 16px 66px 0;
}

.login__link{
  text-decoration: none;
  font-weight: 500;
  color: #2F71E5;
  border: none;
  background-color: transparent;
}

@-webkit-keyframes transparency{
  from{
    opacity: 1;
  }
  to{
    opacity: 0.9;
  }
}

@keyframes transparency{
  from{
    opacity: 1;
  }
  to{
    opacity: 0.9;
  }
}

.login__link:hover{
  cursor: url('../../images/lapka.svg'), pointer;
  -webkit-animation: transparency 1s linear 1 forwards;
          animation: transparency 1s linear 1 forwards;
}

@media only screen and (max-width:600px){
  
}